%h1 Matrículas

= new_btn new_classroom_path

%table.table
  %thead
    %tr
      %th Curso
      %th Estudante
      %th Data
      %th Cancelar
  %tbody
    - @classrooms.each do |classroom|
      %tr
        %td= classroom.course.name
        %td= classroom.student.name
        %td= l classroom.entry_at
        %td
          = link_to classroom_path(classroom), method: :delete, class: 'btn btn-xs btn-danger' do
            %span.glyphicon.glyphicon-trash
