= simple_form_for(@student) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :register_number
    = f.input :status, as: :boolean

  .form-actions
    = f.button :submit
