%h1 Listar Estudantes

= new_btn new_student_path

%table.table
  %thead
    %tr
      %th Nome
      %th Registro
      %th{width:1}
      %th{width:1}

  %tbody
    - @students.each do |student|
      %tr
        %td= student.name
        %td= student.register_number
        %td= edit_btn student
        %td= destroy_btn student
