%h1 Listar Cursos

= new_btn new_course_path

%table.table
  %thead
    %tr
      %th Nome
      %th Descrição
      %th{width:1}
      %th{width:1}

  %tbody
    - @courses.each do |course|
      %tr
        %td= course.name
        %td= course.description
        %td= edit_btn course
        %td= destroy_btn course
