%p#notice= notice

%p
  %b Name:
  = @course.name
%p
  %b Description:
  = @course.description
%p
  %b Status:
  = @course.status

= link_to 'Edit', edit_course_path(@course)
\|
= link_to 'Back', courses_path
