%nav.navbar.navbar-default
  .container
    .navbar-header
      = link_to 'Repense', root_path, class: 'navbar-brand'
    %ul.nav.navbar-nav
      %li= link_to 'Estudantes', students_path
      %li= link_to 'Cursos', courses_path
      %li= link_to 'Matrículas', classrooms_path
